<h1>Mapa</h1>

<style>
    #map {
        height: 400px; 
        width: 100%; 
    }
</style>

<div id="map"></div>
<script>

    function initMap() {

        var wydzialAEI = { lat: 50.288557, lng: 18.677926 }; // koordynaty naszego ukochanego wydziału

        var mapOptions = {
            zoom: 18,
            center: wydzialAEI,
            mapTypeId: 'satellite'
        }

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Wydział AEI</h1>' +
            '<div id="bodyContent">' +
            '<p><b>Wydział AEI</b> często nazywany również <b>Cyrkiem</b> jest miejscem gdzie traci się życie' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var map = new google.maps.Map(
            document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({ position: wydzialAEI, map: map, title: 'Cyrk' });

        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-SBOyEzQGWB4xHJpeCVBE5qH_LavqZVA&callback=initMap"></script>