
<div class="page info">
    <div class="sidebar">
        <div class="expand">
            <button type="button" class="toggle-button expand__button" data-show="expand-region">
                <p>Region</p>
            </button>
            <div class="expand__content" id="expand-region">
                <div class="checkbox-group">
                    <input type="checkbox" id="region1" name="region1" value="region1">
                    <label for="region1"> Region 1</label><br>
                    <input type="checkbox" id="region2" name="region1" value="region1">
                    <label for="region2"> Region 2</label><br>
                </div>
            </div>
        </div>
    </div>
    <div class="info__list" id="info__list">
    </div>
    <script>
        function toggleButton(e) {
            this.classList.toggle("toggle-button--active");
            document.getElementById(this.getAttribute("data-show")).classList.toggle("show");
        }
        const createElement = (tag, options) => {
            const { withText = null } = options;

            let element = document.createElement(tag);
            if (withText) {
                let text = document.createTextNode(withText);
                element.appendChild(text);
            }
            return element;
        };
        const createInfoItem = (name, ...records) => {
            let item = {
                name: name,
                records: [...records]
            }
            return item;
        }
        (() => {
            itemArray[0] = createInfoItem("schronisko 1", { tag: "telefon", value: "123-456-789" }, { tag: "region", value: "Śląsk" });
            itemArray[1] = createInfoItem("impreza 1", { tag: "telefon", value: "123-456-789" }, { tag: "region", value: "Śląsk" });
            let infoPage = TouristInfoPage({ items: itemArray });
        })();
    </script>
</div>
