@model LoginVM

<h1>Strona logowania</h1>
<h2>
    Zaloguj lub
    <a asp-action="Register" asp-controller="Account"> Zarejestruj</a>
</h2>


<form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">
   
    <input asp-for="UserName" type="text" name="username" value="" />
    <input asp-for="Password" type="text" name="password" value="" />

    <button type="submit">Login</button>

</form>