@model HomepageVM

    <div class="home" id="homepage">
        <div class="home__title">
            <h1>SYSTEM INFORMACJI TURYSTYCZNEJ</h1>
        </div>
        @{ string[] mp4sources = {
        "~/media/forest.mp4",
        "~/media/fog-landscape.mp4",
        "~/media/winter-forest.mp4",
        "~/media/mountains.mp4",
        };
            Random rnd = new Random();
            string mp4ToPlay = Url.Content(mp4sources[rnd.Next(mp4sources.Length)]);
        }
        <video class="home__background-video" autoplay loop muted>
            <source src=@mp4ToPlay type="video/mp4" />
        </video>
    </div>

<script>
    window.onload = () => {
        var home = document.getElementById("homepage");
        home.style.height = (document.documentElement.clientHeight - home.offsetTop) + "px";
    }
    window.onresize = window.onload;
</script>
