@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Informacje turystyczne tylko tutaj. Wybierz się w podróż gdy masz koronawirusa tylko u nas!!!!!</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=js71WSAos5M">Mikrofalówka sound earrape</a>.</p>
</div>
